<div class="body"></div>
<div class="grad"></div>
<div class="header">
<div class="header">
  <div>System monitoringu<br><span> aktywności fizycznej</span></div>
</div>
<div class="login">
  <input type="text"[(ngModel)]="loginData.login" placeholder="login" name="login" id="login"><br>
  <input type="password" [(ngModel)]="loginData.password" placeholder="password" name="password" id="password"><br>
  <input type="button" (click)="check()" value="Login">
</div>
</div>
<!--<div class="col-md-6">
  <h2 class="text-center">Add Person</h2>
  <form>
    <div class="form-group">
      <label for="login">Login:</label>
      <input type="login" [(ngModel)]="loginData.login" placeholder="Login" name="login" class="form-control" id="login">
    </div>
    <div class="form-group">
      <label for="password"> Password:</label>
      <input [(ngModel)]="loginData.password" placeholder="Password" name="password" class="form-control" id="password">
    </div>
    <button class="btn btn-success" (click)="check()">Create</button>
  </form>
</div>-->
